@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Atomic+Age&display=swap');

:root {
	/* color for vue toto app */
	--color-black: #2D3142;
	--color-white: #FAFAFA;
	--color-green: #58BC82;
	--color-blue: #5465FF;
	--color-red: #AB2346;
}

h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	width: max-content;
}

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--color-black);
}

button {
	cursor: pointer;
	border: none;
	border-radius: 16px;
}
button:active {
	transform: scale(.98);
}

body {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	background-color: var(--color-black);
	color: var(--color-white);
	font-weight: 300;
	height: auto;
	font-size: 1em;
}

#app {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}